<div class="container_pokemon">
    <!-- pokemon's table -->
    <div class="pokemon_table">
        <!-- INPUT -->
        <mat-form-field style="height: 80px">
            <mat-label>Filter</mat-label>
            <input 
                matInput
                type="text"
                (keyup)="applyFilter($event)"
                placeholder="Search columns" 
                #input
                [matAutocomplete]="auto"
                [formControl]="myControl"
            >
            <button
                *ngIf="myControl.value" 
                matSuffix 
                mat-icon-button 
                aria-label="Clear" 
                (click)="myControl.setValue(''); this.pokemons.filter = '';">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete
                #auto="matAutocomplete"
            >
                <mat-option
                    *ngFor="let pokemonName of filteredOptions | async " 
                    [value]="pokemonName"
                    (click)="showInfoPokemon(pokemonName)"
                >
                    {{ pokemonName }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- TABLE -->
        <div 
            class="mat-elevation-z8 pokemon_table-container" 
        >
            <div 
                style="width: 100%; display: flex; justify-content: center;" 
                *ngIf="!pokemons"
            >
                <mat-spinner></mat-spinner>
            </div>

            <table
                mat-table
                [dataSource]="pokemons"
                *ngIf="pokemons"
                fixedLayout="true"
            >
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
          
                <tr 
                    mat-header-row 
                    *matHeaderRowDef="displayedColumns; sticky: true">
                </tr>
                <tr 
                    mat-row 
                    *matRowDef="let row; columns: displayedColumns;"
                    (click)="rowClick(row)"
                    >
                </tr>
            </table>
          

        </div>
        <!-- PAGINATOR -->
        <mat-paginator
            class="mat-elevation-z8 paginator_pokemon"
            [pageSizeOptions]="pageSizeOptions"
            showFirstLastButtons
            aria-label="Select page of pokemons"
            (page)="getServerData($event)"
            [length]="totalPages"
        >
        </mat-paginator>
    </div>

    <!-- pokemon stats -->
    <div class="pokemon_stats mat-elevation-z8">
        <label></label>
        <div *ngIf="!pokemonFind" class="pokemon_div-stats">
            <!-- <div class="pokemon_stats-circle-1">
            </div>
            <div class="pokemon_stats-circle-2">
            </div>
            <div class="pokemon_stats-circle-3">
            </div>
            <div class="pokemon_stats-circle-4">
            </div>
            <div class="pokemon_stats-box">
            </div>

            <div class="pokemon_stats-circle-5">
            </div>
            <div class="pokemon_stats-line-1">
            </div>
            <div class="pokemon_stats-line-2">
            </div> -->
            <img src="./../../../assets/image/whos_that_p.jpg" alt="" class="pokemon_div-stats-img">
        </div>
        <div 
            *ngIf="pokemonFind"
            class="pokemon_div-stats-2"
        >
            <mat-card-title style="text-align: center;">
                Pokemon Stats
            </mat-card-title>
            <mat-card class="card-stats">
                <mat-card-header class="pokemon_stats-header">
                    <mat-card-title
                        class="pokemon_stats-header-title"
                    >
                        {{ pokemonFind.species.name }} # {{ pokemonFind.id }}
                    </mat-card-title>
                    <mat-card-subtitle style="margin: 10px 0">
                        <span class="pokemon_name" *ngIf="pokemonFind && pokemonFind.species.name">
                            Height: {{ pokemonFind.height }} | Weight: {{ pokemonFind.weight }}
                        </span>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="pokemon_stats-content">
                  <mat-card class="pokemon_stats-content-1">
                    <mat-card-title
                        class="pokemon_stats-content-title"
                    >
                        Abilities
                    </mat-card-title>
                    <mat-card-content>
                        <div *ngFor="let ability of pokemonFind.abilities">
                            <span>
                                {{ ability.ability.name }}
                            </span>
                        </div>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="pokemon_stats-content-2">
                    <mat-card-title
                        class="pokemon_stats-content-title"
                    >
                        Stats
                    </mat-card-title>
                    <mat-card-content>
                        <div *ngFor="let stat of pokemonFind.stats">
                            <span>
                                {{ stat.stat.name }}: {{ stat.base_stat }}
                            </span>
                        </div>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="pokemon_stats-content-3">
                    <div>
                        <img src="{{pokemonFind.sprites.front_default}}" style="zoom: 1.5" alt="">
                    </div>
                  </mat-card>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="pokemon_stats-action-1"></button>
                  <button mat-button class="pokemon_stats-action-2"></button>
                  <button mat-button class="pokemon_stats-action-3"></button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>
<div class="resume">
    <!-- pokemon resume -->
    <div style="display:grid; grid-template-columns: repeat(27, 1fr)">
        <div *ngFor="let alphabet of abc">
            {{ alphabet.letter[0].toUpperCase() }} : {{ alphabet.count }}
        </div>
    </div>
</div>

