table {
    width: 100%;
    // height: 200px;
}

.mat-mdc-table .mdc-data-table__row{
    // width: 100%;
    // max-height: 50px;
    overflow: auto;
    height: 35px;
}

.mat-column-name {
    height: 10px;
}
  
.example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-mdc-card-avatar {
    width: 60px;
    height: 60px;
    margin-bottom: 0px;
}

// === Pokemon ===
.container_pokemon {
    display: flex;
    // flex-wrap: wrap;
    // height: 80%;
    height: 84.9%;
}

.pokemon_table {
    width: 42%;
    // margin: 20px 10px;
    border: 5px solid rgba(246,58,58,.93);
}

.pokemon_table-input {
    height: 80px;
    width: 100%;
}

.pokemon_table-container {
    height: calc(100% - 130px);
    overflow: auto;
}

.pokemon_stats {
    width: 58%;
    // margin: 20px 10px;
    display: flex;
}

.paginator_pokemon {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items:center
}

// Card
.pokemon_stats-header {
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon_stats-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    align-items: center;
}

.pokemon_stats-content-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.pokemon_stats-content-2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.pokemon_stats-content-3 {
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    background: url("./../../../assets/image/pokeball_light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pokemon_stats-content-title {
    background-color: rgb(64, 64, 220);
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 15px;
}

// =======================

.pokemon_div-stats {
    width: 100%;
    display: flex;
    border: 5px solid rgba(246,58,58,.93);
}

.pokemon_div-stats-2 {
    width: 100%;
    background: rgba(246,58,58,.93);
    display: grid;
    align-content: center;
}

.pokemon_div-stats-img {
    height: 100%;
    width: 100%;
}

.card-stats {
    background: white;
    box-shadow: none;
    // margin: 0 15px;
    margin: 0 100px 100px 100px;
}

.mat-mdc-card-header {
    padding: 0;
    margin: 16px 16px 0;
    background:lightgray;
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
}

.mat-mdc-card-content {
    padding: 0;
    margin: 0 16px;
    background: lightgray;
    border-bottom-right-radius: 50px;
}


// ========     =======     =======
.mat-mdc-card {
    --mdc-elevated-card-container-color: transparent;
    box-shadow: none;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
    text-align: center;
}

//Pokemon stats header

.pokemon_stats-header-title {
    background-color: rgb(64, 64, 220);
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 15px;
}

//Pokemon stats actions
.pokemon_stats-action-1 {
    min-width: initial;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: red;
    border: black 2px solid;
    pointer-events: none;
}

.pokemon_stats-action-2 {
    min-width: initial;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: yellow;
    border: black 2px solid;
    pointer-events: none;
}
    
.pokemon_stats-action-3 {
    min-width: initial;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: green;
    border: black 2px solid;
    pointer-events: none;
}

.mdc-card__actions {
    justify-content: space-evenly;
}

// RESUME

.resume {
    text-align: center;
    // background: gray;
    // height: 10%;
    padding-bottom: 1px;
    height: 15%;
    display: grid;
}

.resume-container {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    margin: 20px 10px;
    justify-items: center;
    align-items: center;
}

.resume-container-title {
    background-color: rgb(22, 138, 36);
    color: white;
    // border-top-left-radius: 20px;
    // border-bottom-right-radius: 20px;
    // border-top-right-radius: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alphabet {
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    // width: 50%;

    display: grid;
    grid-template-rows: 25px 25px;
    width: 55%;
}

.alphabet-letter {
    // font-size: 18px;
    // background-color: rgb(64, 64, 220);
    // color: white;
    // border-top-left-radius: 20px;
    // border-bottom-right-radius: 20px;
    // border-top-right-radius: 15px;

    font-size: 16px;
    background-color: red;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid black;
}

.alphabet-count {
    background: white;
    border: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

//FOOTER
.footer{
    width: 100%;
    background-color: gray;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-item-one {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(48, 73, 233);
    border: 5px solid white;
}

.footer-item-two {
    width: 200px;
    // height: 30px;
    height: 20px;
    background-color: rgb(26, 157, 6);
    border: 3px solid white;
}

.footer-item-three {
    width: 200px;
    // height: 30px;
    height: 20px;
    background-color: rgb(247, 109, 24);
    border: 3px solid white;
}



@media (max-width: 1400px) {

    .pokemon_table {
        width: 50%;
        // margin: 20px 10px;
    }
        
    .pokemon_stats {
        width: 50%;
        // margin: 20px 10px;
        display: flex;
    }

    .resume-container {
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .alphabet {
        margin: 5px 0px;
    }

    .card-stats {
        margin: 0 30px 30px 30px;
    }
}

@media (max-width: 1100px) {
    .pokemon_table {
        width: 50%;
        // margin: 20px 10px;
    }
        
    .pokemon_stats {
        width: 50%;
        // margin: 20px 10px;
        display: flex;
    }

    .mat-mdc-paginator-page-size {
        display: none;
    }

    .mat-mdc-paginator-page-size ng-star-inserted{
        display: none !important;
    }

    .mat-mdc-paginator-container {
        flex-wrap: initial;
    }



    div .mat-paginator-page-size{
        display: none !important;
    }

    .alphabet {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .container_pokemon {
        display: flex;
        flex-wrap: wrap;
        // height: 100%;
        height: initial;
    }

    .pokemon_table {
        width: 100%;
        margin: 0;
        height: 50vh;
    }

    .pokemon_table-container {
        height: calc(100% - 180px);
        overflow: auto;
    }
    
    .pokemon_stats {
        width: 100%;
        // margin: 20px 0px;
        display: flex;
        // height: 50vh;
        // min-height: 50vh;
        height: 500px;
    }
    
    // .pokemon_div-stats {
    //     width: 100%;
    //     display: flex;
    //     border: 5px solid rgba(246,58,58,.93);
    // }

    // .pokemon_div-stats-img {
    //     height: 100%;
    //     width: 100%;
    // }

    .card-stats {
        background: white;
        box-shadow: none;
        // margin: 0 15px;
        margin: 0 15px 15px 15px;
    }

    // .mat-mdc-card-header {
    //     padding: 0;
    //     margin: 16px 16px 0;
    //     background:lightgray;
    //     border-top-left-radius: 15px;
    //     border-top-right-radius: 10px;
    // }
    
    // .mat-mdc-card-content {
    //     padding: 0;
    //     margin: 0 16px;
    //     background: lightgray;
    //     border-bottom-right-radius: 50px;
    // }

    // .mat-mdc-card {
    //     --mdc-elevated-card-container-color: transparent;
    //     box-shadow: none;
    // }
    
    // .mat-mdc-card-title,
    // .mat-mdc-card-subtitle {
    //     text-align: center;
    // }

    //Pokemon stats header

    // .pokemon_stats-header-title {
    //     background-color: rgb(64, 64, 220);
    //     color: white;
    //     border-top-left-radius: 20px;
    //     border-bottom-right-radius: 20px;
    //     border-top-right-radius: 15px;
    // }

    //Pokemon stats content

    .pokemon_stats-content-1 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 110px;
    }
    
    .pokemon_stats-content-2 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 180px;
    }
    
    .pokemon_stats-content-3 {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    // .pokemon_stats-content-title {
    //     background-color: rgb(64, 64, 220);
    //     color: white;
    //     border-top-left-radius: 20px;
    //     border-bottom-right-radius: 20px;
    //     border-top-right-radius: 15px;
    // }

    //Pokemon stats actions
    // .pokemon_stats-action-1 {
    //     min-width: initial;
    //     width: 34px;
    //     height: 34px;
    //     border-radius: 100%;
    //     background: red;
    //     border: black 2px solid;
    // }

    // .pokemon_stats-action-2 {
    //     min-width: initial;
    //     width: 34px;
    //     height: 34px;
    //     border-radius: 100%;
    //     background: yellow;
    //     border: black 2px solid;
    // }
    
    // .pokemon_stats-action-3 {
    //     min-width: initial;
    //     width: 34px;
    //     height: 34px;
    //     border-radius: 100%;
    //     background: green;
    //     border: black 2px solid;
    // }

    // .mdc-card__actions {
    //     justify-content: space-evenly;
    // }

    // PAGINATOR

    .paginator_pokemon {
        display: flex;
        justify-content: flex-start;
        height: 100px;
        align-items:center
    }

    .mat-mdc-paginator-range-label {
        margin: 0 10px 0 10px !important;
    }
}

@media (max-width: 700px) {
    .resume-container {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
}

